MYSQL_BASE_DIR=
# MYSQLD=
# MYSQL_DATA_DIR=
# MYSQL_CNF=
MYSQL_ROOT_USER=root
MYSQL_ROOT_PSWD=rootpass
WSREP_PROVIDER=
WSREP_CLUSTER_ADDRESS="dummy://"
# WSREP_CLUSTER_NAME=
# WSREP_NODE_NAME=
# WSREP_NODE_INCOMING_ADDRESS=
WSREP_SST_METHOD=mysqldump
WSREP_SST_AUTH=$MYSQL_ROOT_USER:$MYSQL_ROOT_PSWD
# WSREP_SST_ADDRESS=
# WSREP_SST_DONOR=""

#
# Parameters below rarely require changing
#
WSREP_SLAVE_THREADS=1
WSREP_LOCAL_CACHE_SIZE=20971520
WSREP_START_POSITION=
WSREP_DEBUG=0
WSREP_AUTO_INCREMENT_CONTROL=1
WSREP_RETRY_AUTOCOMMIT=1
WSREP_CONVERT_LOCK_TO_TRX=1
WSREP_DRUPAL_282555_WORKAROUND=1
WSREP_WS_PERSISTENCY=0
# WSREP_DBUG=
# WSREP_DATA_HOME_DIR=
