*.a
*.o
*.os
*.so
*.log
*.diff
GPATH
GRTAGS
GTAGS
GSYMS
.sconf_temp
.sconsign.dblite
core
rb_test
galera.cache
gvwstate.dat
galera-sym.map
galera/tests/galera_check
galera/tests/galera_check.passed
galerautils/tests/gu_tests
galerautils/tests/gu_tests++
galerautils/tests/gu_tests++.passed
galerautils/tests/gu_tests.passed
galerautils/tests/gu_to_test
galerautils/tests/avalanche*
galerautils/tests/copy_vs_assignment*
galerautils/tests/deqmap_bench
galerautils/tests/crc32c_bench
garb/garbd
gcache.page.*
gcache/src/test
gcache/tests/gcache_tests
gcache/tests/gcache_tests.passed
gcomm/test/check_gcomm
gcomm/test/check_gcomm_nondet
gcomm/test/gcomm_check.passed
gcomm/test/ssl_test
gcs/src/gcs_test
gcs/src/unit_tests/gcs_tests
gcs/src/unit_tests/gcs_tests.passed
scripts/mysql/mysql-[5-9].[5-9].[0-9]*
tests/bin
tests/out
tests/run
tests/conf/cluster.conf
tests/conf/nodes.conf
tests/conf/common_my.cnf
tests/conf/my[0-9]*.cnf
docs/build
*.gcno
*.gcda
