*.a
*.o
*.os
*.so
*.log
.sconf_temp
.sconsign.dblite
galera.cache
galera/tests/galera_check
galera/tests/galera_check.passed
galerautils/tests/gu_tests
galerautils/tests/gu_tests++
galerautils/tests/gu_tests++.passed
galerautils/tests/gu_tests.passed
garb/garbd
gcache.page.*
gcache/src/test
gcache/tests/gcache_tests
gcache/tests/gcache_tests.passed
gcomm/test/check_gcomm
gcomm/test/gcomm_check.passed
gcomm/test/ssl_test
gcs/src/gcs_test
gcs/src/unit_tests/gcs_tests
gcs/src/unit_tests/gcs_tests.passed
