# Default mysqld options
[mysqld]
core-file
innodb_buffer_pool_size=420M
innodb_log_file_size=100M
innodb_flush_log_at_trx_commit=2
max_connections=1024

#
# Here are options to load innodb plugin. Uncomment, if you want to 
# load innodb plugin during server start.
# Note, mysql-galera start script has --plugin option, which sets these
# plugin options on command line. Use one of these methods to load innodb 
# plugin, but not both 
#

# MariaDB uses xtradb as a built-in, so no need to load any plugins
ignore_builtin_innodb
plugin-load=innodb=ha_innodb_plugin.so;innodb_trx=ha_innodb_plugin.so;innodb_locks=ha_innodb_plugin.so;innodb_lock_waits=ha_innodb_plugin.so;innodb_cmp=ha_innodb_plugin.so;innodb_cmp_reset=ha_innodb_plugin.so;innodb_cmpmem=ha_innodb_plugin.so;innodb_cmpmem_reset=ha_innodb_plugin.so

