# Default mysqld options
[mysqld]
innodb_flush_log_at_trx_commit=0
innodb_buffer_pool_size=420M
innodb_log_file_size=256M
innodb_doublewrite=0
#innodb_log_buffer_size=8M
#innodb_checksums=0

!include "wsrep.cnf"
