# Default mysqld options
[mysqld]
innodb_flush_log_at_trx_commit=0
innodb_buffer_pool_size=5G
innodb_log_file_size=1G
innodb_doublewrite=0
#innodb_log_buffer_size=8M
#innodb_checksums=0
# to avoid issues with 'bulk mode inserts' using autoinc
innodb_autoinc_lock_mode=2 

default-storage-engine=innodb

# This must be substituted by wsrep_format
binlog_format=ROW  # mandatory

# WSREP options
# Full path to wsrep provider library or 'none'
# wsrep_provider=none

# Group communication system handle
wsrep_gcs_address="dummy://"

# Logical group name. Should be the same for all nodes.
wsrep_gcs_group="my_cluster"

# How many threads will process writesets from other nodes
# (more than one untested)
wsrep_slave_threads=1

# DBUG options for wsrep provider
#wsrep_dbug_option

# cache size (bytes) for processing write sets in local phase 
wsrep_local_cache_size=20M

# write sets can be saved in binary files
wsrep_ws_persistency=0

# to enable debug level logging, set this to 1
wsrep_debug=0

# convert locking sessions into transactions
wsrep_convert_LOCK_to_trx=1

# retry deadlocked autocommits
wsrep_retry_autocommit=1

# change auto_increment_increment and auto_increment_offset automatically
wsrep_auto_increment_control=1

# retry autoinc insert, which failed for duplicate key error
wsrep_drupal_282555_workaround=1
