# Default mysqld options
[mysqld]
innodb_flush_log_at_trx_commit=0
innodb_buffer_pool_size=420M
innodb_log_file_size=256M
innodb_doublewrite=0
#innodb_log_buffer_size=8M
#innodb_checksums=0
default-storage-engine=innodb

# This must be substituted by wsrep_format
log_bin=mysqld-bin
binlog_format=ROW

# WSREP options
# Full path to wsrep driver library or 'none'
# wsrep_driver=none

# Group communication system handle
wsrep_gcs_address="dummy://"

# Group name
wsrep_gcs_group="my_cluster"

# How many threads will process writesets from other nodes
wsrep_slave_threads=1

# DBUG options for wsrep
#wsrep_dbug_option

# cache size (bytes) for processing write sets in local phase 
wsrep_local_cache_size=16777216

# write sets can be saved in binary files
wsrep_ws_persistency=0

# internal, optimization for commit phase, will be obsolete soon
wsrep_mark_commit_early=1

# to enable debug level logging, set this to 1
wsrep_debug=0
