# Systemd service file for garbd

[Unit]
Description=Galera Arbitrator Daemon
After=network.target syslog.target

[Install]
WantedBy=multi-user.target
Alias=garbd.service

[Service]
User=nobody
EnvironmentFile=/etc/sysconfig/garb
ExecStart=/usr/bin/garb-systemd start

TimeoutSec=2m
PrivateTmp=false


