# Systemd service file for garbd

[Unit]
Description=Galera Arbitrator Daemon
Documentation=man:garbd(8)
Documentation=https://galeracluster.com/library/documentation/arbitrator.html
After=network.target

[Install]
WantedBy=multi-user.target
Alias=garbd.service

[Service]
User=nobody
EnvironmentFile=/etc/sysconfig/garb
ExecStart=/usr/bin/garb-systemd start

# Use SIGINT because with the default SIGTERM
# garbd fails to reliably transition to 'destroyed' state
KillSignal=SIGINT

TimeoutSec=2m
PrivateTmp=false
