#
# Cluster resources configuration.
#

# List of available nodes, preferably IP addresses.
# If hostnames are used, /etc/hosts file should be up to date
# on each network node.
export CLUSTER_NODES=${CLUSTER_NODES:-"gw vs1 vs2"}

# DBMS superuser username and password for administrative purposes
export MYSQL_ROOT_USER=${MYSQL_ROOT_USER:-"root"}
export MYSQL_ROOT_PSWD=${MYSQL_ROOT_PSWD:-"rootpass"}

# DBMS test use username and password
export MYSQL_TEST_USER=${MYSQL_TEST_USER:-"test"}
export MYSQL_TEST_PSWD=${MYSQL_TEST_PSWD:-"testpass"}

# Base directory where MySQL is installed in. May also be 
# symbolic link pointing to real directory
export MYSQL_BASE=${MYSQL_BASE:-"~/galera/mysql"}

# Host for clients to connect to
export MYSQL_HOST=${MYSQL_HOST:-"127.0.0.1"}

# Port for clients to connect to
export MYSQL_PORT=${MYSQL_PORT:-"3306"}

# end
