#!/usr/bin/make -f

export DH_VERBOSE=1

# Parse DEB_BUILD_OPTIONS

# Number of parallel jobs
JOBS = 1
ifneq (,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
	JOBS = $(patsubst parallel=%,%,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
endif

# Whether to run tests
TESTS = 1
ifneq (,$(filter nocheck,$(DEB_BUILD_OPTIONS)))
	TESTS = 0
endif


print_vars:
	@echo $(DEB_BUILD_OPTIONS)

override_dh_auto_build: print_vars
	scons -j $(JOBS) tests=$(TESTS)

override_dh_auto_clean:
	scons -c
	rm config.log

override_dh_installdocs:
	dh_installdocs
	install -m 644 asio/LICENSE_1_0.txt debian/galera/usr/share/doc/galera/LICENSE.asio
	install -m 644 chromium/LICENSE debian/galera/usr/share/doc/galera/LICENSE.chromium
	install -m 644 www.evanjones.ca/LICENSE debian/galera/usr/share/doc/galera/LICENSE.crc32c

# Start earlier than MySQL which has value 19
override_dh_installinit-arch:
	dh_installinit --name=garb -- defaults 18 22

override_dh_strip:
	dh_strip --dbg-package=galera-dbg

%:
	dh $@

.PHONY: override_dh_strip
